.gradle
.kotlin
/build/
**/build
!gradle/wrapper/gradle-wrapper.jar
/logs/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log
*.class
*.bak
/out/
/temp/

### macOS ###
.DS_Store

### Excel temp files ###
~$*.xlsx

### Sync ###
.last_sync_commit

### Claude Code ###
.claude
.mcp.json
**/docs/
CLAUDE.md
